#jobs {
  position: relative;
}

#bars {
  position: relative;
  top: 20px; /* Space for pull counter */
  left: 100px; /* Space for some left buffs */
}

.big-buff {
  border: 1px solid black;
  width: 44px;
  height: 32px;
}

/* Relative to #bars */
#left-side-icons {
  position: absolute;
  left: -2px;
}

/* Relative to #bars */
#right-side-icons {
  position: absolute;
  left: 242px;
}

/* Relative to #bars */
#pull-bar,
#hp-bar,
#mp-bar,
#mp-tick,
#cp-bar,
#gp-bar {
  width: 202px;
  height: 7px;
  margin-top: 1px;
}

#pull-bar {
  position: absolute;
  left: 100px;
  top: 0;
  height: 18px;
  font-size: 10px;
}

.justbuffs #right-side-icons {
  position: fixed;
  left: 0;
}

.justbuffs #pull-bar {
  display: none;
}

.justbuffs #bars {
  display: none;
}

#jobs-stat-physical {
  position: absolute;
  top: 0;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
}
#jobs-stat-magic {
  position: absolute;
  top: 0;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
}

#jobs-stat-dot {
  position: absolute;
  top: 0;
}

#jobs-stat-dot {
  position: absolute;
  top: 0;
  left: 100%;
}

#jobs-stat-buff-sec {
  position: absolute;
  top: 0;
  color : white;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
}

#jobs-buffs-sec {
  position: absolute;
  left: 45%;
  top: 0;
  color : #ffffff;
  text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
}

#jobs-own-dot { /* DOT位置在右上角 */
  position: absolute;
  left: 100%;
  top: 0;
  /*color : white;*/
  /*text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;*/
}